/**
* Arquivo responsavel para definir as fontes do site do CFH
*
* @author: Mateus Moura mateus[at]tark[dot]com[dot]br
* @date: 01/05/2013
*
* Copyright(c) Todos os direitos reservados a TARK
*/ 

@font-face {
    font-family: 'centabel_bookcentabel_book';
    src: url('centabel-webfont.eot');
    src: url('centabel-webfont.eot?#iefix') format('embedded-opentype'),
         url('centabel-webfont.woff') format('woff'),
         url('centabel-webfont.ttf') format('truetype'),
         url('centabel-webfont.svg#centabel_bookcentabel_book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dancing_scriptregular';
    src: url('dancing_script-webfont.eot');
    src: url('dancing_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('dancing_script-webfont.woff') format('woff'),
         url('dancing_script-webfont.ttf') format('truetype'),
         url('dancing_script-webfont.svg#dancing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('myriadproregular.eot');
    src: url('myriadproregular.eot?#iefix') format('embedded-opentype'),
             url('myriadproregular.woff') format('woff'),
             url('myriadproregular.ttf') format('truetype'),
             url('myriadproregular.svg#myriadproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-It';
    src: url('myriadproit.eot');
    src: url('myriadproit.eot?#iefix') format('embedded-opentype'),
             url('myriadproit.woff') format('woff'),
             url('myriadproit.ttf') format('truetype'),
             url('myriadproit.svg#myriadproit') format('svg');
    font-weight: normal;
    font-style: normal;
}