@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	font-family: inherit;
	font-size: 100%;
	color: inherit;
}

body {
	color: #;
	font-size: 62.5%;
	font-family: 'Futura CondensedOblique', arial, verdana, helvetica, sans-serif;
	/*	background: url(../images/bkg/) no-repeat;*/
	background-color: #3a5182;
}

legend { display: none; }
ol, ul { list-style: none; }
a:hover { text-decoration: underline; }
table { border-collapse: collapse; border-spacing: 0; }

header, nav, section,
article, aside, footer { display: block; }

main {
	
}

header,
main,
footer {
	width: 940px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

/* Modais */

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #FFF;
}

#exemplo {
	width: 500px;
	height: 500px;
	padding: 40px;
}


#fundo {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/bkg/fundo.png) repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* Posts */

.post > article .titulo {
	clear: both;
	overflow: hidden;
}

.post > article .titulo h1 {
	width: 580px;
	float: left;
}

.post > article .titulo .share {
	margin-top: 25px;
	float: right;
}

.post > article p {
	display: block;
	margin-bottom: 42px;
	font-family: 'Futura Book';
	font-size: 1.5em;
}

.post > article strong {
	font-size: 1.5em;
	font-family: 'Futura Book';
}

.post > article .dias-horarios p {
	margin-bottom: 0;
}

.post > article .dias-horarios table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Futura Book';
}

.post > article .dias-horarios table tr {
	height: 50px;
	border-top: 2px solid #4e4e4e;
}

.post > article .dias-horarios table tr:first-child {
	border: none;
}

.post > article .dias-horarios table td {
	font-size: 13px;
	text-align: center;
}

.post > article .dias-horarios table td:first-child {
	text-align: left;
}

.post > article .dias-horarios table strong {
	display: block;
	font-size: 15px;
	font-family: 'Futura';
}




/* Thumbs */

.thumb,
.galeria-fotos li {
	float: left;
	border: 1px solid #CACACA;

	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.thumb a,
.galeria-fotos li a {
	margin: 1px;
	overflow: hidden;
	float: left;
}

.thumb img,
.galeria-fotos img {
	display: block;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

/* Botões */

.botao_a {
	padding: 3px 10px;
	display: block;
	color: #FFF;
	font-size: 1.8em;
	text-align: center;
	border: solid 1px #bc851c;

	-webkit-box-shadow: inset 0 0 10px rgba(187,130,29,.75);
	-moz-box-shadow: inset 0 0 10px rgba(187,130,29,.75);
	box-shadow: inset 0 0 10px rgba(187,130,29,.75);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #d89725;
	background-image: -webkit-linear-gradient(bottom, #c4881f, #e19b21 47%, #d29325);
	background-image: -moz-linear-gradient(bottom, #c4881f, #e19b21 47%, #d29325);
	background-image: -o-linear-gradient(bottom, #c4881f, #e19b21 47%, #d29325);
	background-image: -ms-linear-gradient(bottom, #c4881f, #e19b21 47%, #d29325);
	background-image: linear-gradient(to top, #c4881f, #e19b21 47%, #d29325);
}

.botao_a:hover {
	text-decoration: none;
}

/* Image Replacement */

.image-replace {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

/* Image Replacement para Inputs */

.input-replace {
	display: block;
	content: "";
	line-height: 0;
	text-indent: -9999px;
	cursor: pointer;
	border: none !important;
}

/* Share Buttons */

.share {
	width: 310px;
}

.share ul {
	float: right;
}

.share li {
	float: left;
	overflow: hidden;
	margin-left: 20px;
}

.share li:first-child {
	margin: 0;
}

.share li.google {
	width: 70px;
}

.share li.twitter {
	width: 97px;
}