/* -------------|
/* - CABECALHO
/* ----- */

header {
	margin-top: 5px;
}

header:before,
header:after {
	width: 100%;
	height: 340px;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

header:before {
	background-image: -webkit-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: -moz-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: -o-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: -ms-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: linear-gradient(to top, #3a5182, #5373b9);
}

header:after {
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	background: url(../images/bkg/brilho_body.png) no-repeat;
}

header div.logo {
	width: 465px;
	float: left;
}

header div.logo h1,
header div.logo > div {
	width: 180px;
	float: left;
}

header div.logo .slogan {
	width: 260px;
	height: 35px;
	margin-top: 20px;
	display: block;
	float: right;
	text-indent: -9999em;
	background: url(../images/txt/slogan.png) no-repeat;
}

header div.contato {
	float: right;
	margin-top: 30px;
}

header div.contato a {
	display: block;
	float: left;
	margin-left: 30px;
	font-size: 1.8em;
	color: #fde8b3;
}

header div.contato a:first-child {
	margin-left: 0;
}

header #menu {
	width: 100%;
	height: 30px;
	clear: both;
}

header #menu li {
	height: 30px;
	padding: 0 15px;
	float: left;
	display: block;
	line-height: 30px;
	border-left: 1px solid #4b73a9;
	border-right: 1px solid #466497;
}

header #menu li:first-child {
	border-left: 0;
	padding-left: 0;
}

header #menu li:last-child {
	border-right: 0;
	padding-right: 0;
}

header #menu li a {
	color: #FFF;
	font-size: 2.5em;
}

/* -------------|
/* - CONTEUDO
/* ----- */

main > .conteudo {
	width: 100%;
	margin-top: 138px;
	margin-bottom: 85px;
	background: #FFF;
	position: relative;
	float: left;
	clear: both;
}

main > .conteudo:after,
main > .conteudo:before {
	content: "";
	position: absolute;
	display: block;
}

main > .conteudo:before {
	width: 940px;
	height: 138px;
	margin-top: -138px;
	display: block;
	background: url(../images/bkg/curva_topo.png?2) no-repeat left bottom;
}

main > .conteudo:after {
	width: 960px;
	height: 65px;
	margin-bottom: -65px;
	bottom: 0;
	left: -20px;
	display: block;
	background: url(../images/bkg/curva_bottom.png?2) no-repeat left bottom;
}

body[data-role="internas"] main > .conteudo .post {
	margin-top: -40px;
}

main > .conteudo .post {
	padding: 0 20px;
	position: relative;
}

main > .conteudo .post > article {
	width: 600px;
	float: left;
	margin-right: 20px;
}

main > .conteudo .post > article h1 {
	display: block;
	margin-bottom: 10px;
	font-size: 5em;
	color: #1f6385;
}

main > .conteudo .post > article h1 strong {
	font-size: 50px;
	font-family: inherit;
}

main > .conteudo .post > article .listagem-posts li {
	width: 100%;
	color: #4e4e4e;
	overflow: hidden;
	margin-bottom: 20px;
}

main > .conteudo .post > article .listagem-posts li .thumb {
	margin-right: 20px;
}

main > .conteudo .post > article .listagem-posts li .thumb a {
	width: 196px;
	height: 166px;
}

main > .conteudo .post > article .listagem-posts li h2 {
	margin-top: 8px;
	font-size: 2.5em;
	font-family: 'Futura Medium';
}

main > .conteudo .post > article .listagem-posts li h2 a {
	color: inherit;
}

main > .conteudo .post > article .listagem-posts li p {
	font-size: 1.5em;
	font-family: 'Futura Book';
	margin-bottom: 0;
}

main > .conteudo .post > article .listagem-posts li .ler-mais {
	display: block;
	font-size: 1.5em;
	color: #1f6385;
	float: left;
	font-family: 'Futura Book';
}


/* -------------|
/* - SIDEBAR
/* ----- */

main > .conteudo .post > #sidebar {
	width: 280px;
	float: right;
}

main > .conteudo .post > #sidebar .bloco {
	width: 100%;
	margin-bottom: 30px;
	color: #4e4e4e;
	clear: both;
	overflow: hidden;
}

main > .conteudo .post > #sidebar .bloco h3 {
	font-size: 3em;
	color: #1f6385;
	display: block;
	margin-bottom: 5px;
	font-weight: normal;
}

main > .conteudo .post > #sidebar .bloco h4 {
	font-size: 2em;
	display: block;
	color: inherit;
}

main > .conteudo .post > #sidebar .bloco p {
	color: inherit;
	font-size: 1.5em;
}

/* BLOCO MODALIDADE */

main > .conteudo .post > #sidebar > .bloco.modalidade > .botao_a {
	margin-bottom: 50px;
}

main > .conteudo .post > #sidebar > .bloco.modalidade > .escolha {
	padding: 20px 0 20px 20px;
	border: 1px solid #adb4c2;
	background: #e8eefb;
}

main > .conteudo .post > #sidebar > .bloco.modalidade > .escolha > div {
	clear: both;
	margin-top: 15px;
}

main > .conteudo .post > #sidebar > .bloco.modalidade > .escolha > div:first-child {
	margin: 0;
}

main > .conteudo .post > #sidebar > .bloco.modalidade > .escolha label {
	width: 80px;
	height: 22px;
	float: left;
	margin-right: 5px;
	display: block;
	text-align: right;
	line-height: 22px;
	font-family: 'Futura';
	font-size: 12px;
}

main > .conteudo .post > #sidebar > .bloco.modalidade > .escolha select {
	width: 155px;
	height: 20px;
	font-size: 12px;
	border: 1px solid #989898;
}

/* BLOCO OUTRAS NOTÃCIAS */

main > .conteudo .post > #sidebar > .bloco.outras-noticias > ul li {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

main > .conteudo .post > #sidebar > .bloco.outras-noticias > ul li .thumb {
	margin-right: 10px;
}

main > .conteudo .post > #sidebar > .bloco.outras-noticias > ul li .thumb a {
	width: 115px;
	height: 84px;
}

/* BLOCO GALERIA DE FOTOS */

main > .conteudo .post > #sidebar > .bloco.galeria-fotos li {
	margin: 0 9px 9px 0;
}

main > .conteudo .post > #sidebar > .bloco.galeria-fotos li.ultimo {
	margin-right: 0;
}

main > .conteudo .post > #sidebar > .bloco.galeria-fotos li a {
	width: 110px;
	height: 75px;
}

main > .conteudo .post > #sidebar #agenda li.ativo {
	width: 160px;
}


/* -------------|
/* - RODAPE
/* ----- */

footer {
	
}