/* -------------|
/* - CABECALHO
/* ----- */

header {
	margin-top: 5px;
	position: relative;
	overflow: visible;
	z-index: 10;
}

body:before,
body:after {
	width: 100%;
	height: 340px;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

body:before {
	background-image: -webkit-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: -moz-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: -o-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: -ms-linear-gradient(bottom, #3a5182, #5373b9);
	background-image: linear-gradient(to top, #3a5182, #5373b9);
}

body:after {
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	background: url(../images/bkg/brilho_body.png) no-repeat;
}

header div.logo {
	width: 465px;
	float: left;
}

header div.logo h1,
header div.logo > div {
	width: 180px;
	float: left;
}

header div.logo .slogan {
	width: 260px;
	height: 35px;
	margin-top: 20px;
	display: block;
	float: right;
	text-indent: -9999em;
	background: url(../images/txt/slogan.png) no-repeat;
}

header div.contato {
	float: right;
	margin-top: 30px;
}

header div.contato a {
	display: block;
	float: left;
	margin-left: 30px;
	font-size: 1.8em;
	color: #fde8b3;
}

header div.contato a:first-child {
	margin-left: 0;
}

header #menu {
	width: 100%;
	clear: both;
}

header #menu li {
	height: 30px;
	padding: 5px 15px;
	position: relative;
	float: left;
	display: block;
	color: #FFF;
	line-height: 30px;
	border-left: 1px solid #4b73a9;
	border-right: 1px solid #466497;
}

header #menu li:first-child {
	border-left: 0;
	padding-left: 0;
}

header #menu li:last-child {
	border-right: 0;
}

header #menu li a {
	color: inherit;
	font-size: 2.5em;
	text-decoration: none;
}
header #menu li:hover,
header #menu li.ativo {
	color: #fcc22c;
}

header #menu li.submenu {
	padding: 5px 8px 5px 15px;
}

header #menu li.submenu:hover {
	background: #10516e;
}

header #menu li.submenu > a {
	background: url("../images/ico/setas_c.png") no-repeat right 16px;
	padding: 0 15px 0 0;
}
header #menu li.submenu.ativo > a {
	background-position: right -4px;
}
header #menu li.submenu:hover > a {
	background-position: right -40px;
}

header #menu li.submenu ul {
	background: url(../images/bkg/garoto_submenu.png) no-repeat right bottom #10516e;
	width: 205px;
	padding: 15px 0 25px 15px;
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
}

header #menu li.submenu ul li {
	background: none;
	padding: 0;
	height: auto;
	width: 100%;
	border: none;
}

header #menu li.submenu ul li:first-child {
	border-top: none;
}

header #menu li.submenu ul li a {
	font-size: 20px;
}


/* -------------|
/* - CONTEUDO
/* ----- */

main > .conteudo {
	width: 100%;
	margin-top: 138px;
	margin-bottom: 85px;
	background: #FFF;
	position: relative;
	float: left;
	clear: both;
}

main > .conteudo:after,
main > .conteudo:before {
	content: "";
	position: absolute;
	display: block;
}

main > .conteudo:before {
	width: 940px;
	height: 138px;
	margin-top: -138px;
	display: block;
	background: url(../images/bkg/curva_topo.png?2) no-repeat left bottom;
}

main > .conteudo:after {
	width: 960px;
	height: 65px;
	margin-bottom: -65px;
	bottom: 0;
	left: -20px;
	display: block;
	background: url(../images/bkg/curva_bottom.png?2) no-repeat left bottom;
}

body[data-role="internas"] main > .conteudo .post {
	margin-top: -40px;
}

main > .conteudo .post {
	padding: 0 20px;
	position: relative;
}

main > .conteudo .post > article {
	width: 600px;
	float: left;
	margin-right: 20px;
}

main > .conteudo .post > article h1 {
	display: block;
	margin-bottom: 10px;
	font-size: 5em;
	color: #1f6385;
}

main > .conteudo .post > article h1 strong {
	font-size: 50px;
	font-family: inherit;
}

main > .conteudo .post > article .listagem-posts ul {
	list-style: none;
}

main > .conteudo .post > article .listagem-posts li {
	width: 100%;
	color: #4e4e4e;
	overflow: hidden;
	margin-bottom: 20px;
}

main > .conteudo .post > article .listagem-posts li .thumb {
	margin-right: 20px;
}

main > .conteudo .post > article .listagem-posts li .thumb a {
	width: 196px;
	height: 166px;
}

main > .conteudo .post > article .listagem-posts li h2 {
	margin: 8px 0 3px;
	font-size: 2.5em;
	font-family: 'Futura Medium';
}

main > .conteudo .post > article .listagem-posts li h2 a {
	font-size: inherit;
	color: inherit;
}

main > .conteudo .post > article .listagem-posts li p {
	font-size: 1.5em;
	font-family: 'Futura Book';
	margin-bottom: 0;
}

main > .conteudo .post > article .listagem-posts li .ler-mais {
	display: block;
	font-size: 1.5em;
	color: #1f6385;
	float: left;
	font-family: 'Futura Book';
}


/* -------------|
/* - SIDEBAR
/* ----- */

#sidebar {
	width: 280px;
	float: right;
}

#sidebar .bloco {
	width: 100%;
	margin-bottom: 30px;
	color: #4e4e4e;
	clear: both;
	overflow: hidden;
}

#sidebar .bloco h3 {
	font-size: 3em;
	color: #1f6385;
	display: block;
	margin-bottom: 5px;
	font-weight: normal;
}

#sidebar .bloco h4 {
	font-size: 2em;
	display: block;
	color: inherit;
}

#sidebar .bloco p {
	color: inherit;
	font-size: 1.5em;
}

/* BLOCO ESCOLHER MODALIDADE */

#sidebar .bloco.escolher-modalidade > .botao_a {
	margin-bottom: 50px;
}

#sidebar .bloco.escolher-modalidade > .escolha {
	padding: 20px 0 20px 20px;
	border: 1px solid #adb4c2;
	background: #e8eefb;
}

#sidebar .bloco.escolher-modalidade > .escolha > div {
	clear: both;
	margin-top: 15px;
}

#sidebar .bloco.escolher-modalidade > .escolha > div:first-child {
	margin: 0;
}

#sidebar .bloco.escolher-modalidade > .escolha label {
	width: 80px;
	height: 22px;
	float: left;
	margin-right: 5px;
	display: block;
	text-align: right;
	line-height: 22px;
	font-family: 'Futura';
	font-size: 12px;
}

#sidebar .bloco.escolher-modalidade > .escolha select {
	width: 155px;
	height: 20px;
	font-size: 12px;
	border: 1px solid #989898;
}

/* BLOCO OUTRAS NOTÃCIAS */

#sidebar .bloco.outras-noticias > ul li {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

#sidebar .bloco.outras-noticias > ul li .thumb {
	margin-right: 10px;
}

#sidebar .bloco.outras-noticias > ul li .thumb a {
	width: 115px;
	height: 84px;
}

/* BLOCO GALERIA DE FOTOS */

#sidebar .bloco.galeria-fotos li {
	margin: 0 9px 9px 0;
}

#sidebar .bloco.galeria-fotos li.ultimo {
	margin-right: 0;
}

#sidebar .bloco.galeria-fotos li a {
	width: 110px;
	height: 75px;
}

#sidebar #agenda li.ativo {
	width: 160px;
}

/* BLOCO LOGIN */

#sidebar .bloco.login > p {
	margin-bottom: 10px;
	display: block;
	font-size: 15px;
	font-family: 'Futura Book';
}

#sidebar .bloco.login input[type="text"] {
	width: 246px;
}

/* BLOCO MODALIDADES */

#sidebar .bloco.modalidades > ul li {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}

#sidebar .bloco.modalidades > ul li h4 {
	color: #1F6385;
}

#sidebar .bloco.modalidades > ul li .thumb {
	margin-right: 10px;
}

#sidebar .bloco.modalidades > ul li .thumb a {
	width: 115px;
	height: 84px;
}

#sidebar .bloco.modalidades .botao_a {
	width: 240px;
}

/* BLOCO EVENTO PROXIMO */

#sidebar .bloco.evento-proximo {
	display: none;
}

#sidebar .bloco.evento-proximo h3 {
	color: #cc3333;
}

#sidebar .bloco.evento-proximo > div {
	width: 288px;
	padding: 10px 35px 20px;
	list-style: none;
	text-align: center;
	background: #FFF;
	border: 1px solid #dedede;
}

#sidebar .bloco.evento-proximo span {
	display: block;
	font-size: 15px;
	color: #757575;
	text-align: normal;
}

#sidebar .bloco.evento-proximo .data {
	display: block;
	font-size: 20px;
	color: #c98a8a;
	text-align: center;
}

#sidebar .bloco.evento-proximo .data strong {
	font-size: 50px;
	color: #d24d4d;
}

#sidebar .bloco.evento-proximo .title {
	font-size: 30px;
	color: #4f4f4f;
}

#sidebar .bloco.evento-proximo p {
	margin-bottom: 10px;
	display: block;
	font-size: 15px;
	font-family: 'Futura';
}

#sidebar .bloco.evento-proximo .botao_a {
	width: 105px;
	display: block;
	margin: 0 auto;
}

/* BLOCO AGENDA */

#sidebar #agenda {
	position: relative;
}

#sidebar #agenda .title {
	line-height: 23px;
}

/* -------------|
/* - RODAPE
/* ----- */

footer {
	margin-bottom: 40px;
}

footer > div {
	width: 395px;
	margin: 0 auto;
	color: #FFF;
}

footer > div .logo {
	float: left;
}

footer > div .info {
	width: 235px;
	float: right;
}

footer > div .info {
	font-size: 15px;
}

footer > div .info .logo-tark {
	margin-top: 20px;
	display: inline-block;
}