@font-face {
	font-family: 'Futura CondensedOblique';
	src: url('../fonts/FuturaStd-CondensedOblique.eot');
	src: url('../fonts/FuturaStd-CondensedOblique.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/FuturaStd-CondensedOblique.woff') format('woff'),
		 url('../fonts/FuturaStd-CondensedOblique.ttf') format('truetype'),
		 url('../fonts/FuturaStd-CondensedOblique.svg#Futura CondensedOblique') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura-Normal.eot');
	src: url('../fonts/Futura-Normal.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Futura-Normal.woff') format('woff'),
		 url('../fonts/Futura-Normal.ttf') format('truetype'),
		 url('../fonts/Futura-Normal.svg#Futura-Normal') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Bold';
	src: url('../fonts/Futura-Bold.eot');
	src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Futura-Bold.woff') format('woff'),
		 url('../fonts/Futura-Bold.ttf') format('truetype'),
		 url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Book';
	src: url('../fonts/FuturaStd-Book.eot');
	src: url('../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/FuturaStd-Book.woff') format('woff'),
		 url('../fonts/FuturaStd-Book.ttf') format('truetype'),
		 url('../fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Medium';
	src: url('../fonts/FuturaStd-Medium.eot');
	src: url('../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/FuturaStd-Medium.woff') format('woff'),
		 url('../fonts/FuturaStd-Medium.ttf') format('truetype'),
		 url('../fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}