.gldp-flatwhite {
	position: absolute;
	font-family: 'helvetica';
}

/* Core style for every cell */
.gldp-flatwhite .core {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	color: #222;
	background: #ffffff;
}

/* Cell border */
.gldp-flatwhite .border {
	border-style: solid;
	border-width: 0;
	border-color: #dedede;
}

/* Month/Year text and select */
.gldp-flatwhite .monyear,
.gldp-flatwhite .monyear select {
/*	font-size: 16px !important;
	font-weight: bold;
	background: #eee;*/
}

/* Month/Year text */
.gldp-flatwhite .monyear span {
	margin: 0 5px 0 5px;
}

/* Prev/Next arrows */
.gldp-flatwhite .prev-arrow,
.gldp-flatwhite .next-arrow {
	color: #666;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
}

.gldp-flatwhite .prev-arrow:active,
.gldp-flatwhite .next-arrow:active {
	color: #000;
}

.gldp-flatwhite .prev-arrow-off,
.gldp-flatwhite .next-arrow-off {
	color: #000;
	opacity: 0.15;
}

/* Days of the week */
.gldp-flatwhite .dow {
	color: #222;
	font-weight: bold;
	cursor: wait !important;
	background: #eee;
}

/* Weekdays */
.gldp-flatwhite .mon,
.gldp-flatwhite .tue,
.gldp-flatwhite .wed,
.gldp-flatwhite .thu,
.gldp-flatwhite .fri {
	font-weight: bold;
}

/* Weekend days */
.gldp-flatwhite .sat,
.gldp-flatwhite .sun {
	color: #888;
	font-weight: bold;
}

/* Selectable days that are outside of current month being shown */
.gldp-flatwhite .outday {
	color: #aaa !important;
}

/* Hover */
.gldp-flatwhite .mon:hover,
.gldp-flatwhite .tue:hover,
.gldp-flatwhite .wed:hover,
.gldp-flatwhite .thu:hover,
.gldp-flatwhite .fri:hover,
.gldp-flatwhite .sat:hover,
.gldp-flatwhite .sun:hover {
	background: #eee;
}

/* Non-Selectable days */
.gldp-flatwhite .noday {
	color: #bbb;
	font-weight: normal;
	cursor: wait !important;
	background: #ddd;
}

/* Currently selected day */
.gldp-flatwhite .selected {
	color: #fff;
	font-weight: bold;
	border-color: #888;
	background: #aaa;
}

/* Today */
.gldp-flatwhite .today {
	color: #fff;
	font-weight: bold;
	border-color: #000;
	background: #222;
}

/* Special */
.gldp-flatwhite .special {
	color: #fff;
	font-weight: bold;
	border-color: #444;
	background: #666;
}

/* HIDE */

.gldp-flatwhite {
	position: static !important;
}

.core.border.monyear {
	display: none !important;
}

.gldp-flatwhite .dow {
	width: 65px !important;
	height: 20px !important;
	line-height: 20px !important;
	cursor: auto !important;
	text-align: center !important;
	font-family: 'Futura Bold' !important;
	font-size: 10px !important;
	color: #949494 !important;
	border: none !important;
	background: none !important;
	margin-left: 0 !important;
	margin-right: 3px !important;
}

.core.border.mon,
.core.border.tue,
.core.border.wed,
.core.border.thu,
.core.border.fri,
.core.border.sat,
.core.border.sun,
.core.border.special,
.core.border.today,
.core.border.selected {
	width: 65px !important;
	height: 60px !important;
	margin-top: 0 !important;
	margin-left: 3px !important;
	margin-bottom: 3px !important;
	color: #898989 !important;
	font-family: 'Futura CondensedOblique' !important;
	font-size: 28px !important;
}

.core.border.sun,
.core.border.sun.selected {
	margin-left: 0 !important;
}

.core.border.outday {
	color: #FFF !important;
	text-indent: -9999em !important;
	overflow: hidden !important;
}

.core.border.outday:hover {
	background: #FFF !important;
	cursor: auto !important;
}

.core.border.monyear.title {
	width: 100% !important;
	height: 100% !important;
	line-height: normal !important;
	cursor: auto !important;
	display: block !important;
	border: none !important;
	background: none !important;
	clear: both !important;
	text-align: left !important;
}

.gldp-flatwhite .monyear select {
	width: 115px;
	height: 25px;
	margin-right: 15px;
	text-align: center;
	background: #efefef;
	padding-top: 3px;
}

.gldp-flatwhite .monyear strong {
	margin: 20px 0;
	display: block;
	color: #686868;
	font-size: 22px;
	font-family: 'Futura Medium';
}

.gldp-flatwhite .monyear span {
	display: none;
}

.core.border.selected {
	color: #FFF !important;
}

.core.border.selected:hover {
	background: #aaa !important;
}

.core.border.special {
	background: #e7e7e7 !important;
	color: #d24d4d !important;
	border-color: #d4a4a4 !important;
}

.core.border.special.outday {
	background: #FFF !important;
	border-color: #dedede !important;
}

.core.border.today,
.core.border.today:hover {
	background: #d24d4d !important;
	color: #FFF !important;
	border-color: #d4a4a4 !important;
}

#descricao-evento {
	margin-top: 30px;
	float: left;
	clear: both;
}

#descricao-evento .data {
	font-size: 17px;
	color: #d24d4d;
	display: block;
	clear: both;
}

#descricao-evento strong.titulo {
	font-size: 17px;
	display: block;
}

#descricao-evento p {
	font-size: 15px;
}