/* -------------|
/* - HOME
/* ----- */

body[data-page="home"] #destaque-home {
	width: 940px;
	height: 325px;
	margin-top: 30px;
	position: relative;
}

body[data-page="home"] #destaque-home > ul {
	width: 860px;
	height: 345px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
}

body[data-page="home"] #destaque-home > ul li a {
	display: block;
	overflow: hidden;
}

body[data-page="home"] #destaque-home .setas {
	width: 100%;
	height: 70px;
	margin-top: -35px;
	position: absolute;
	top: 50%;
	z-index: 0;
}

body[data-page="home"] #destaque-home .setas a {
	width: 28px;
	height: 70px;
	display: block;
	position: absolute;
	background: url(../images/ico/setas_a.png) no-repeat;
}

body[data-page="home"] #destaque-home .setas a.anterior {
	left: 0;
	background-position: left top;
}

body[data-page="home"] #destaque-home .setas a.proximo {
	right: 0;
	background-position: left bottom;
}

body[data-page="home"] #destaque-home .paginacao {
	width: 960px;
	margin-top: -50px;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

body[data-page="home"] #destaque-home .paginacao .alinhamento {
	float: left;
	left: 50%;
	position: relative;
}

body[data-page="home"] #destaque-home .paginacao ul {
	float: left;
	position: relative;
	right: 50%;
}

body[data-page="home"] #destaque-home .paginacao ul li {
	margin-left: 10px;
	float: left;
}

body[data-page="home"] #destaque-home .paginacao ul li:first-child {
	margin: 0;
}

body[data-page="home"] #destaque-home .paginacao ul li a {
	width: 11px;
	height: 10px;
	text-indent: -9999em;
	overflow: hidden;
	display: block;
	background: url(../images/ico/paginacao.png) no-repeat;
}

body[data-page="home"] #destaque-home .paginacao ul li a:hover,
body[data-page="home"] #destaque-home .paginacao ul li.ativo a {
	background-position: center bottom;
}

body[data-page="home"] main > .conteudo {
	float: left;
	clear: both;
	margin-top: 0;
	background: url(../images/bkg/home_conteudo.jpg) repeat-y;
}

body[data-page="home"] main > .conteudo:before {
	width: 942px;
	height: 270px;
	top: -105px;
	margin-top: 0;
	z-index: 2;
	background: url(../images/bkg/curva_topo_home.png) no-repeat;
}

body[data-page="home"] main > .conteudo:after {
	background: url(../images/bkg/curva_bottom_home.png) no-repeat;
}

body[data-page="home"] main > .conteudo > section,
body[data-page="home"] main > .conteudo > aside {
	position: relative;
	z-index: 3;
}

body[data-page="home"] main > .conteudo > section {
	width: 360px;
	padding: 0 20px;
	float: left;
	background: url(../images/bkg/curva_cinza.jpg) no-repeat left top #EEE;
}

body[data-page="home"] main > .conteudo > section .destaque {
	position: relative;
	margin-bottom: 20px;
}

body[data-page="home"] main > .conteudo > section .destaque .bola {
	width: 70px;
	height: 74px;
	position: absolute;
	top: -15px;
	left: 0;
	z-index: 2;
	background: url(../images/ico/bola.png) no-repeat;
}

body[data-page="home"] main > .conteudo > section .destaque h2 {
	margin-left: 80px;
	font-size: 30px;
	color: #1f6385;
}

body[data-page="home"] main > .conteudo > section .destaque .thumb {
	width: 355px;
	height: 225px;
	overflow: hidden;
	position: relative;
	border: 2px solid #FFF;

	-webkit-box-shadow: 0 0 2px #666;
	-moz-box-shadow: 0 0 2px #666;
	box-shadow: 0 0 2px #666;
}

body[data-page="home"] main > .conteudo > section .destaque .thumb .botao_a {
	height: auto;
	right: 13px;
	bottom: 5px;
	position: absolute;
	border: 2px solid #855d16;
}

body[data-page="home"] main > .conteudo > section .destaque p {
	font-size: 20px;
	color: #4e4e4e;
	font-family: 'Futura';
}

body[data-page="home"] main > .conteudo > section > h3 {
	font-size: 25px;
	color: #1f6385;
}

body[data-page="home"] main > .conteudo .listagem-posts li {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}

body[data-page="home"] main > .conteudo .listagem-posts .thumb {
	margin-right: 10px;
}

body[data-page="home"] main > .conteudo .listagem-posts h4 {
	font-size: 20px;
	color: #1f6385;
}

body[data-page="home"] main > .conteudo .listagem-posts p {
	font-family: 'Futura';
	font-size: 15px;
}

body[data-page="home"] main > .conteudo > section .todos-eventos {
	font-family: 'Futura';
	font-size: 15px;
	color: #2186c1;
}

body[data-page="home"] main > .conteudo > aside {
	width: 500px;
	padding: 0 20px;
	float: right;
}

body[data-page="home"] main > .conteudo > aside h2 {
	font-size: 30px;
	color: #cc3333;
}

body[data-page="home"] main > .conteudo > aside .post {
	padding: 0;
}

body[data-page="home"] main > .conteudo > aside .post-destaque {
	margin-bottom: 20px;
	float: left;
	position: relative;
	border: 1px solid #CACACA;
	border-radius: 3px 3px 3px 3px;
}

body[data-page="home"] main > .conteudo > aside .post-destaque figure {
	width: 495px;
	height: 280px;
	float: left;
	margin: 1px;
	overflow: hidden;
	border-radius: 3px 3px 3px 3px;
}

body[data-page="home"] main > .conteudo > aside .post-destaque > div {
	width: 485px;
	margin: 0 0 1px 1px;
	height: 73px;
	padding: 45px 0 0 10px;
	background: url(../images/bkg/overlay_home.png) no-repeat;
	color: #FFF;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	border-radius: 0px 0px 3px 3px;
}

body[data-page="home"] main > .conteudo > aside .post-destaque > div > strong {
	font-size: 25px;
	line-height: 10px;
	font-family: 'Futura CondensedOblique';
	font-weight: normal;
}

body[data-page="home"] main > .conteudo > aside .post-destaque > div p {
	font-size: 15px;
	font-family: 'Futura';
}

body[data-page="home"] main > .conteudo > aside .listagem-posts {
	width: 274px;
	float: left;
}

body[data-page="home"] main > .conteudo > aside .listagem-posts li {
	margin: 20px 0 0;
	padding: 20px 0 0;
	border-bottom: none;
	border-top: 1px solid #d9d9d9;
}

body[data-page="home"] main > .conteudo > aside .listagem-posts li:first-child {
	margin: 0;
	padding: 0;
	border: none;
}

body[data-page="home"] main > .conteudo > aside .banner {
	float: left;
}

body[data-page="home"] main > .conteudo > aside .banner a {
	display: block;
}

/* -------------|
/* - SINGLES
/* ----- */

main > .conteudo .post.single > article {
	width: 520px;
}

main > .conteudo .post.single > #sidebar {
	width: 360px;
}

/* -------------|
/* - PAGES
/* ----- */

main > .conteudo .post.page > article {
	width: 100%;
}

/* -------------|
/* - PAGE
/* -- CADASTRO ATLETAS
/* ----- */

body[data-page="cadastro_atletas"] .conteudo .post > article {
	width: 540.8px;
}

body[data-page="cadastro_atletas"] .conteudo .post #sidebar {
	width: 338px;
}

/* -------------|
/* - PAGE
/* -- DADOS ATLETAS
/* ----- */

body[data-page="dados_atletas"] .conteudo .post > article {
	width: 100%;
}

body[data-page="dados_atletas"] #abas-topicos input[type="submit"] {
	float: left;
}

/* -------------|
/* - PAGE
/* -- AGENDA EVENTOS
/* ----- */

body[data-page="agenda_eventos"] .share {
	position: absolute;
	right: 20px;
}

body[data-page="agenda_eventos"] #sidebar {
	padding-top: 70px;
}

/* -------------|
/* - PAGE
/* -- TRABALHE CONOSCO
/* ----- */

body[data-page="trabalhe_conosco"] form > input[type="submit"] {
	float: left;
}

/* -------------|
/* - PAGE
/* -- CADASTRO ATLETAS
/* ----- */

body[data-page="cadastro_atletas"] #sidebar .bloco.login {
	margin-top: 70px;
}